@media screen and (max-width: 1024px) {
    .header {
        margin-bottom: 30px;
        position: sticky;
        top: 0;
        z-index: 99;
        height: 60px;
        background-color: #fff;
      }
      
      .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
      }
      
      .header__logo {
        width: 110px;
        height: 55px;
      }
}