* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  user-select: none;
}

.header {
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 60px;
  background-color: #fff;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.header__logo {
  width: 110px;
  height: 55px;
}

.header__cart {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header__cart-wrapper {
  position: relative;
}

.header__cart-count {
  position: absolute;
  top: 0px;
  right: -40px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product-button {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.product-button:hover {
  background-color: gray;
}

.product-card:hover .product-button {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);

}

.header__collections {
  text-align: center;
  margin: 10px;
  margin-bottom: 40px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.header__link {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
}

.card__img {
  width: 322px;
  height: 322px;
}

.tabs {
  width: 1408px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.tabs__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabs__link {
  margin-right: 15px;
  font-family: "Roboto-Bold", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.tabs__content {
  display: flex;
}

.tabs__img {
  width: 300px;
  height: 400px;
}

.product-card {
  width: 300px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.product-image {
  position: relative;
}

.product-image__img {
  width: 100%;
  height: 400px;
}

.product-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
}

.product-info {
  padding: 15px;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
  font-family: "Roboto-Regular", sans-serif;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  font-family: "Roboto-Regular", sans-serif;
}

.product-button {
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto-Regular", sans-serif;
}

.product-button:hover {
  background-color: #333;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto-Bold", sans-serif;
}

h2 {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  margin-top: 50px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: "Roboto-Regular", sans-serif;
}

.footer__link {
  color: black;
  font-weight: bold;
}

.footer__delivery {
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto-Regular", sans-serif;
}

.footer__shipments {
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto-Regular", sans-serif;
}

.footer__nickname {
  color: grey;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logos {
  width: 110px;
  height: 55px;
  cursor: pointer;
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  width: 100px;
  height: 100%;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
